/claude-local.md
.sfdx/

# Secrets
backend/.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

# Data
data/*.db
data/*.csv
data/*/*.csv

# Node
node_modules/

# Build
dist/
build/

#ideas not for public
todo.txt